<div class="container pt-5 pb-5">
  <% if(ds !=""){ %>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First (<a href="/user-add" class="link-secondary">Thêm</a>)</th>
          <th scope="col">Last</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% ds.forEach((row,index)=>{ %>
        <tr>
          <th scope="row"><%= row._id %></th>
          <td><%= row.username %></td>
          <td><%= row.email %></td>
          <td>
              <a href="/user-sua/<%= row._id %>" class="link-secondary">Sửa</a> | 
              <a href="/user-xoa/<%= row._id %>" class="link-secondary">Xóa</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
  </table>
  <% } %>
</div>