extends layout

block content
  h1= title
  h2= name
  p Welcome to #{title}
  h1 
    a(href="/products/create") Create New Product 
  div 
    form(action="/products/search", method="get")
        |Min Price 
        input(type="number", name="min")
        |Max Price 
        input(type="number", name="max")
        input(type="submit", value="Search")
  hr
  div 
    table 
        thead 
            tr 
                th Name
                th Price
                th Image
                th Action
        tbody 
            each item in products
                tr 
                    td= item.name 
                    td
                    td= item.price 
                    td
                    td 
                      img(src="/images/" + item.image, alt="image", width="200" height="200")
                    td
                        a(href="/products/edit/" + item._id) Update 
                        br
                        a(href="/products/delete/" + item._id) Delete



  