extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 
    a(href="/products/create") Create New Product 
  div 
    form(action="/products/search", method="get") 
      |Min price 
      input(type="number", name="min")
      |Max price 
      input(type="number", name="max") 
      input(type="submit", value="Search")
    if message 
      p.error= message
  hr
  div 
    table 
      thead 
        tr 
          th Name 
          th Price 
          th Image 
          th Action
      tbody 
        each item in products
          tr 
            td 
              a(href="/products/" + item.id) #{item.name} 
            td= item.price 
            td 
              img(src="/images/" + item.image, alt="img_product", width='200px') 
            td 
              a(href="/products/edit/" + item.id) Update 
              br
              a(href="/products/delete/" + item.id) Delete 



  