extends layout

block content
  h1= title
  h2= name
  p Welcome to #{title}
  h1 
    a(href="/articles/create") Create New Article 
  div 
    form(action="/articles/search", method="get")
        |Title 
        input(type="text", name="title")
        input(type="submit", name="search")
  hr
  div 
    table 
        thead 
            tr 
                th Title 
                th Content
                th Comment
                th Created_at
                th Action
        tbody 
            each item in articles
                tr 
                    td
                        a(href="/articles/" + item._id)= item.title
                    td= item.content 
                    td
                    td= item.created_at 
                    td 
                        a(href="/articles/edit/" + item._id) Update 
                        br
                        a(href="/articles/delete/" + item._id) Delete



  